<nav>
    <div class="site-title">
        <p> <%= name %> </p> <!-- This will now display the name correctly -->
        <a href="/"><h1>Blog Mike</h1></a>
        <p>Mike Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>
