<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1> Blog Mike </h1></a>
            <p>Mike Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur ut ad dolor deserunt debitis pariatur in enim nisi, quisquam porro eveniet facilis quia, autem, fugit tempore impedit sapiente reiciendis!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam optio omnis sequi dolorem incidunt. Eaque cupiditate cum ab repudiandae vel culpa aliquam tempore dolor labore possimus voluptatibus, voluptas sapiente totam.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore recusandae voluptas ipsam ad ipsum quibusdam laborum quaerat sunt ab dolor, assumenda amet asperiores ea, eaque repellat ducimus quod. Laudantium, autem.</p>

    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>